/* 
   Definizione delle variabili globali CSS.
*/
:root {
    --white-color: #fafafa;
    --cornsilk-color: #fffce2;

    --text-color: #1c1b1b;
    --jet-color: #373536;
    --red-color: #ce3818;
    --brown-color: #655743;
    --caramel-color: #eb843b;
    --blue-color: #269acb;
    --blue-strong-color: #4c9bbd;

    --text-color: #1c1b1b;
    --davy-gray-color: #535252;
    --taupe-gray-color: #9c9a99;

    --platinum-color: #e1dedb;

    --transition: all 0.4s ease;
    --spacing-unit: 8px;
    
    /* Spacing */
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2rem;
    --spacing-2xl: 3rem;
    
    /* Container widths */
    --container-max: 1200px;
    --container-narrow: 800px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--white-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

/* Header */
header {
    background-color: var(--platinum-color);
    box-shadow: 5px 0px 10px rgba(55, 53, 54, 0.2);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: var(--transition);
}

.header-container {
    padding: 1rem 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    max-width: 1440px;
    margin: 0 auto;
}

.logo {
    display: flex;
    gap: calc(var(--spacing-unit) * 2);
    justify-content: center;
    align-items: center;
}

.logo svg{
    fill: var(--jet-color);
    transition: var(--transition);
}

.logo h2{
    font-size: 2rem;
    font-weight: 700;
    color: var(--jet-color);
    margin: 0;
    transition: var(--transition);
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: var(--jet-color);
    font-weight: 500;
    transition: var(--transition);
    font-size: 1.1rem;
}

.nav-links a:hover {
    color: var(--caramel-color);
}

.nav-links a.active {
    color: var(--caramel-color);
    font-weight: 600;
}

.cta-button {
    background-color: var(--jet-color) !important;
    color: var(--cornsilk-color) !important;
    padding: 0.5rem 2rem;
    border-radius: 40px;
    transition: var(--transition);
    text-decoration: none;
    cursor: pointer;
}

.cta-button:hover {
    background-color: var(--caramel-color) !important;
    color: var(--jet-color) !important;
}

.cta-button.secondary {
    background-color: transparent !important;
    color: var(--primary-color) !important;
    border: 0.5px solid var(--jet-color);
}

.cta-button.secondary:hover {
    background-color: transparent !important;
    color: var(--primary-color) !important;
    border: 0.5px solid var(--caramel-color);
}

/* Hamburger Menu */
.hamburger {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 1001;
}

.hamburger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--jet-color);
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.hamburger span:nth-child(1) {
    top: 0px;
}

.hamburger span:nth-child(2), .hamburger span:nth-child(3) {
    top: 9px;
}

.hamburger span:nth-child(4) {
    top: 18px;
}

.hamburger.open span:nth-child(1) {
    top: 9px;
    width: 0%;
    left: 50%;
}

.hamburger.open span:nth-child(2) {
    transform: rotate(45deg);
}

.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
}

.hamburger.open span:nth-child(4) {
    top: 9px;
    width: 0%;
    left: 50%;
}

/* Main */
main {
    background-color: var(--white-color);
    overflow-x: hidden;
}

/* Hero */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 4vw;
    flex-wrap: wrap; 
    gap: 2rem; 
    background-color: var(--platinum-color);
    box-shadow: 5px 0px 10px rgba(55, 53, 54, 0.2);
    min-height: 100vh;
    max-width: 1920px;
    margin: 0 auto;
}

.hero-content{
    flex: 1;
}

.hero-content h1 {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 800;

    color: var(--text-color);
    margin-bottom: 4rem;

    text-shadow: 2px 2px 4px rgba(51, 51, 51, 0.3);
}

.hero-content h1 strong {
    font-size: 3.8rem;
    font-weight: 800;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18);
    color: var(--red-color);
}

.hero-content p {
    font-size: 1.25rem;
    color: var(--anti-flash-white);
    max-width: 600px;
}

.hero-content strong {
    color: var(--secondary-color);
}

.hero-svg {
    flex: 1;
    min-width: 400px;
    max-width: 50%;
}

.hero-svg svg {
    width: 100%;
}

/* Values section */
.values {
    padding: var(--spacing-2xl) var(--spacing-xl);
    background-color: var(--white-color);
}

.values-content {
    max-width: var(--container-max);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--spacing-2xl);
    align-items: center;
}

.values-txt {
    height: 60%;
    padding: var(--spacing-2xl);
    background-color: var(--caramel-color);
    color: var(--jet-color);
    border-radius: 30px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-md);
}

.values-txt h2 {
    color: var(--text-color);
    font-size: 2.5rem;
    margin-bottom: var(--spacing-lg);
    line-height: 1.2;
}

.values p {
    font-size: 1.2rem;
}

.values-concept {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

.pilastro-item {
    padding: var(--spacing-xl);
    text-align: center;
}

.pilastro-item .icon {
    width: 48px;
    height: 48px;
    color: var(--caramel-color);
    margin-bottom: var(--spacing-md);
}

.pilastro-item h3 {
    color: var(--text-color);
    margin-bottom: var(--spacing-xs);
    font-size: 1.25rem;
}

.pilastro-item p {
    color: var(--text-color);
    font-size: 1rem;
}

/* Story section */
.story {
    padding: var(--spacing-2xl) var(--spacing-xl);
    background-color: var(--platinum-color);
    box-shadow: -5px 0px 10px rgba(55, 53, 54, 0.2);
}

.story-content {
    max-width: var(--container-max);
    margin: 0 auto;
    background-color: var(--anti-flash-white);
    border-radius: 30px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-2xl);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.story-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.story-text {
    padding: var(--spacing-2xl);
}

.story-text h2 {
    font-size: 2.2rem;
    color: var(--rich-black);
    margin-bottom: var(--spacing-lg);
    line-height: 1.3;
}

.story-text p {
    color: var(--jet-color);
    margin-bottom: var(--spacing-lg);
    font-size: 1.1rem;
    line-height: 1.6;
}

.story-text blockquote {
    border-left: 7px solid var(--blue-color);
    border-radius: 0 12px 12px 0;
    padding: var(--spacing-lg);
    background-color: #d1ceca;
    margin: var(--spacing-xl) 0;
    font-style: italic;
    color: var(--taupe-gray-color);
}

.blockquote-p {
    color: var(--blue-color) !important;
}

/* Footer */
.footer {
    background-color: var(--platinum-color);
    color: var(--jet-color);
    box-shadow: -3px 0 5px rgba(51, 51, 51, 0.3);
    padding-top: 2rem;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

.footer-section h3 {
    color: var(--jet-color);
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.3;
}

.footer-section ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding-left: 0;
}

.footer-section ul a {
    color: var(--jet-color);
    text-decoration: none;
    transition: var(--transition);
    font-weight: 500;
}

.footer-section ul a:hover{
    color: var(--caramel-color);
    outline: none;
}

.footer-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60vw;
    margin: 0 auto;
    border-bottom: 1px solid var(--jet-color);
    padding-bottom: 2rem;
}

.footer-logo {
    color: var(--jet-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.footer-logo svg{
    fill: var(--jet-color);
}

.footer-logo h2{
    font-weight: 700;
}

.footer-nav a {
    text-decoration: none;
    transition: var(--transition);
    display: inline-block;
}

.footer-nav a svg {
    fill: var(--jet-color);
    transition: var(--transition);
}

.footer-nav a svg:hover{
    fill: var(--caramel-color);
    transform: rotate(5deg) scale(1.1);
}

.footer-bottom {
    margin: 0 auto;
    margin-top: 2rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--jet-color);
    font-size: 1rem;
}

.footer-bottom p{
    margin: 0;
}

/* Responsive Design */
@media screen and (min-width: 1920px) {
    /* Schermi grandi (Desktop 24 pollici) */
    :root {
        font-size: 18px;
    }
    
    .container {
        max-width: 1400px;
    }
}

@media screen and (max-width: 1024px) {
    /* Schermi con larghezza massima di 1024px */
    .header-container {
        padding: 0.75rem 4vw;
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background-color: var(--platinum-color);
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        transition: right 0.3s ease;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        padding: 2rem;
    }
    
    .nav-links.active {
        right: 0;
    }
    
    .hamburger {
        display: block;
    }

    .hero-svg {
        flex: 1;
        min-width: 300px;
        max-width: 30%;
    }

    .hero-svg svg {
        height: 130%;
        width: 130%;
    }

    .values-content {
        grid-template-columns: 1fr;
    }

    .values-txt {
        height: auto;
    }
    
    .values-concept {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .pilastro-item {
        flex: 1;
        min-width: 250px;
    }
    
    .story-content {
        grid-template-columns: 1fr;
        gap: 0;
    }
    
    .story-image {
        height: 300px;
    }

    .footer-head {
        max-width: 80vw;
    }
}

@media screen and (max-width: 768px) {
    .header-container {
        padding: 0.75rem 4vw;
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background-color: var(--platinum-color);
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        transition: right 0.3s ease;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        padding: 2rem;
    }
    
    .nav-links.active {
        right: 0;
    }
    
    .hamburger {
        display: block;
    }

    .hero {
        flex-direction: column;
        align-items: stretch;
        padding-top: 6rem;
        gap: 2rem;
    }

    .hero-content {
        width: 100%;
        padding: 2rem 1rem;
        text-align: start;
        flex: 1;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-svg {
        max-width: 80%;
        margin: 0 auto;
    }

    .hero-svg svg {
        width: 100%;
        height: auto;
    }

    .values-txt {
        padding: var(--spacing-xl);
    }
    
    .values-txt h2 {
        font-size: 2rem;
    }
    
    .values-concept {
        flex-direction: column;
    }
    
    .pilastro-item {
        width: 100%;
    }

    .footer-head {
        flex-direction: column;
        gap: 1.5rem;
        max-width: 90vw;
    }
}
